{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="detailed-content">
    <button onclick="history.back()" class="home-button" id="back-link">
        <i class="fas fa-arrow-circle-left"></i>
    </button>
    <section class="keyframe">
        <h4>Video-Name: {{ keyframe.clip.video.file_name }}</h4>
        <div class="clip-card preview-container" data-start-frame="{{ keyframe.frame }}" data-clip-start-frame="{{ keyframe.clip.start_frame }}" data-clip-end-frame="{{ keyframe.clip.end_frame }}" data-fps="{{ keyframe.clip.video.fps }}">
            <video id="{{ keyframe.clip.video.id }}" alt="Video" class="preview-video" preload="auto" loop playsinline controls>
                <source src="{{ keyframe.clip.video.media_url }}" type="video/mp4"/>
                <source src="{{ keyframe.clip.video.media_url }}"/>
                Your browser does not support the video tag.
            </video>
        </div>
        <button class="davinci-btn" onclick="window.daVinciIntegration?.sendToDaVinci('{{ keyframe.id }}', this)">Send to DaVinci</button>
    </section>
</div>
<script src="{% static 'js/video-preview.js' %}?t={% now 'U' %}"></script>
<script src="{% static 'js/davinci_integration.js' %}?t={% now 'U' %}"></script>
{% endblock %}