{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="detailed-content">
    <a href="/?q={{ query }}" class="home-button">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <div class="keyframe-information">
        <p>Video-ID: <span id="mediaItemName">{{ keyframe.clip.video.file_name }}</span></p>
        <p>Start time in milliseconds: <span id="startMilliseconds"></span></p>
        <p>End time in milliseconds: <span id="endMilliseconds"></span></p>
        <button id="reset" type="submit" class="reset-button"  data-start-frame="{{ keyframe.frame }}" data-clip-start-frame="{{ keyframe.clip.start_frame }}" data-fps="{{ keyframe.clip.video.fps }}">Reset Starttime</button>
    </div>
    <section class="keyframe">
        <h4>Your Keyframe:</h4>
        <div class="clip-card preview-container video-preview" data-video-id="{{ keyframe.clip.video.media_url }}" data-start-frame="{{ keyframe.frame }}" data-clip-start-frame="{{ keyframe.clip.start_frame }}" data-clip-end-frame="{{ keyframe.clip.end_frame }}" data-fps="{{ keyframe.clip.video.fps }}">
            <img src="{{ keyframe_img }}" alt="Clip" class="thumbnail">
            <div class="video-overlay">
            <div class="progress-bar">
                <div class="hit-area"></div>
                <div class="progress-fill"></div>
                <div class="progress-knob"></div>
            </div>
            <span class="time-left">0:00</span>
            </div>
        </div>
        <button id="submit" type="submit" class="submit-button" data-video-id="{{ keyframe.clip.video.file_name }}">Submit to the DRES Server</button>
        <div id="submit-result-message" class="submit-result"></div>
    </section>
</div>

<div id="video-pool" style="display:none;">
    <video id="{{ keyframe.clip.video.media_url }}" muted playsinline preload="auto" src="{{ keyframe.clip.video.media_url }}"></video>
</div>
<script src="{% static 'js/video-preview.js' %}"></script>
<script src="{% static 'js/dres-submit.js' %}"></script>
{% endblock %}